[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-image-classification-committers
	pushMerge = group ldap/acumos-gerrit-image-classification-committers
	forgeCommitter = group ldap/acumos-gerrit-image-classification-committers
	push = group ldap/acumos-gerrit-image-classification-committers
[receive]
	requireSignedOffBy = false
	requireChangeId = false
	requireSignedPush = false
[project]
	description = image classifier built on keras model
[submit]
