# requirements for deployment AND testing

# core deployment packages
# acumos -- for now skip because non-public
numpy
pillow
scipy
pandas
sklearn
keras
tensorflow

# testing packages
connexion
pytest
